@CHARSET "UTF-8";
body{font-size: 14px;overflow:hidden;}
html,body{width: 100%;height: 100%;}
.footer{position: absolute;bottom:0;width:100%;height:3%;background: #3c3c3c;color: white;padding-top: 5px;}
.lb{background:url("../image/bg.jpg") no-repeat; width: 100%;height:100%;background-size:cover;position:absolute;}
.row{text-align: center;}
.loginPanel{margin-top:16%;margin-left:36%;width: 400px;height: 300px;}